# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: 


This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
17 // 3  # floor division discards the fractional part

5

In [5]:
12//5

2

In [6]:
2//5

0

In [7]:
3//1

3

In [8]:
16//7

2

# Power ( Two raise to 4)

In [9]:
2 ** 4   # Power ( Two raise to 4)

16

In [10]:
2**4

16

In [11]:
5**3

125

In [12]:
4**2

16

MOdulus

In [13]:
4 % 2

0

In [14]:
5 % 2

1

In [15]:
10%4

2

In [16]:
15%3

0

TRY BODMAS RULE

In [17]:
(2 + 3) * (5 + 5)

50

VARIABLE ASSIGNMENT

In [18]:
a=20

In [19]:
a

20

In [20]:
a=20
a

20

In [1]:
a=30
b=40
c=a+b
c

70

In [22]:
print(c)

70

In [23]:
(a+b)*(c-b)

2100

In [24]:
##########
###Declared using Continuation Character (\):
s = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9
print(s)

45

In [25]:
##Declared using parentheses () :
n = (1 * 2 * 3 + 7 + 8 + 9)
print(n)

30

In [26]:
#Declared using square brackets [] :
footballer = ['MESSI',
          'NEYMAR',
          'SUAREZ']

In [27]:
#Declared using braces {} :
x = {1 + 2 + 3 + 4 + 5 + 6 +
     7 + 8 + 9}

In [28]:
##Declared using semicolons(;) :
flag = 2; ropes = 3; pole = 4

In [29]:
ropes

3

Simple Intrest Formula

In [30]:
Principle = 1000
ROI = 5
Time = 6
SimpleInterest = (Principle*ROI*Time)/100
print(SimpleInterest)

300.0

In [31]:
Principle = 1000;ROI = 5;Time = 6

In [32]:
SimpleInterest = (Principle*ROI*Time)/100
print(SimpleInterest)

300.0

# Declaring two integers

In [33]:
a, b = 1, 3 # Declaring two integers 
sum = a + b # adding two integers 
print(sum) # displaying the output

4

Comment--- Multi-line string as comment

In [34]:
#HI

In [35]:
"""
This a Demofor multiline Comment
"""

'\nThis a Demofor multiline Comment\n'

In interactive mode, the last printed expression is assigned to the variable _. This means that when you are using Python as a desk calculator, it is somewhat easier to continue calculations, for example:

In [36]:
 
a

1

In [37]:
a=40
b=60
c=a+b
c

100

In [38]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [39]:
price + _

113.0625

In [40]:
r=price + _

In [41]:
r

213.5625

#COMPOUND INTEREST

In [2]:
p=20000
r=9.3
t=3

CI = p * (pow((1 + r / 100), t))
amt=CI+p
print(amt)

46115.02714

In [3]:
p=20000
t=3
r=9.3
n=1
ci= p * ((1+(r/(n*100)))**(n*t))
print(ci)

amt=CI+p
print(amt)

26115.02714
46115.02714

### Variable Assignment

In [44]:
# Can not start with number or special characters
name_of_var = 2

In [45]:
x = 2
y = 3

In [46]:
z = x + y

In [47]:
b:int=20.5
b

20.5

In [48]:
var_name:int="StingsVal"
var_name

'StingsVal'

In [49]:
fname=manish

NameError: name 'manish' is not defined

In [ ]:
var_name

In [ ]:
p:int=30
p

In [ ]:
p

In [ ]:
b:'string'='ram'

In [ ]:
b

In [ ]:
c:float=2.0

In [ ]:
c

### Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
" wrap lot's of other quotes"

In [ ]:
'doesn\'t'  # use \' to escape the single quote...

In [ ]:
"doesn't"

In [ ]:
 "doesn't"  # ...or use double quotes instead

In [ ]:
'"Yes," they said.'

In [ ]:
"\"Yes,\" they said."

In [ ]:
'"Isn\'t," they said.'

In [ ]:
'"Isn\'t," they said.'

### Printing

In [ ]:
x = 'hello'

In [ ]:
x

In [ ]:
print(x)

In [ ]:
num = 12
name = 'Sam'

In [ ]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

In [ ]:
marks=input("enter Your Marks")

In [ ]:
marks2=marks+2

In [ ]:
marks=int(input("enter Your Marks"))

In [ ]:
marks2=marks+2
print(marks2)

USR INPUT   Calculation of Simple iNtreset

In [ ]:
P = int(input("Principal amount: "))
R = float(input("Rate of Interest: "))
T = int(input("Time period: "))

A = (P*T*R)/100
print(A, "Full Amount")
print(A+P, " is Simple Interest")

In [ ]:
p= int(input("Enter principle amount"))
r= float(input("Enter yearly rate of intrest"))
t= int(input("Enter time in months"))

i= (p*r*(t/12))/100
T= p+i
c= p*(1+(r/100))**(t/12)
print("Simple Interst is=", i)
print("Total amount=", T)
print("compound intrest is=",c)

In [ ]:
#####FORMAT PRINTING::::::::::
p=20000
r=9.3
t= 3

i= (p*r*t)/100
T= p+i
c= p*(1+(r/100))**t
print("Simple Interst is:{}, and compound intrest is:{}".format(i,c))

## Comparison Operators

In [ ]:
1 > 2

In [ ]:
"hi"=="BYE"

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

In [ ]:
1!=2

## Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

In [ ]:
((1 == 2) and (2 == 3))or (4 == 4)

In [ ]:
# Examples of Relational Operators 
a = 13
b = 33

In [ ]:
# a > b is False 
print(a > b)

In [ ]:
# a < b is True 
print(a < b)

In [ ]:
# a == b is False 
print(a == b)

In [ ]:
# a != b is True 
print(a != b)

In [ ]:
# a >= b is False 
print(a >= b)

In [ ]:
# a <= b is True 
print(a <= b)

Logical operators: Logical operators perform Logical AND, Logical OR and Logical NOT operations.

In [ ]:
# Examples of Logical Operator 
a = True
b = False

In [ ]:
# Print a and b is False 
print(a and b)

In [ ]:
# Print a or b is True 
print(a or b)

In [ ]:
# Print not a is False 
print(not a)

Bitwise operators: Bitwise operators acts on bits and performs bit by bit operation.

&	Bitwise AND	x & y
|	Bitwise OR	x | y
~	Bitwise NOT	~x
^	Bitwise XOR	x ^ y
>>	Bitwise right shift	x>>
<<	Bitwise left shift	x<<

In [ ]:
# Examples of Bitwise operators 
a = 10
b = 4

In [ ]:
# Print bitwise AND operation   
print(a & b)

In [ ]:
# Print bitwise OR operation 
print(a | b)

In [ ]:
# Print bitwise NOT operation  
print(~a)

In [ ]:
# print bitwise XOR operation  
print(a ^ b)

In [ ]:
# print bitwise XOR operation  
print(a ^ b)

In [ ]:
# print bitwise right shift operation  
print(a >> 2)

In [ ]:
# print bitwise left shift operation  
print(a << 2)

### Lists

In [184]:
y=[1,2,3]

In [185]:
z=[1,2,'a']

ACCESSING ELEMENTS

In [186]:
y[0]

1

In [187]:
y[2]

3

In [188]:
z[2]

'a'

In [189]:
['hi',1,[1,2]]   #nested list

['hi', 1, [1, 2]]

In [190]:
z= [ 1,2,3,[5,6],[[7,8],9]]
z

[1, 2, 3, [5, 6], [[7, 8], 9]]

In [191]:
z[2]

3

In [192]:
z[3]

[5, 6]

In [193]:
z[4]

[[7, 8], 9]

In [194]:
z[3][1]

6

In [195]:
z[4][1]

9

In [196]:
z=[1,2,'hi',['hi','hello','hey'],"Good",[[1,'hii'],2]]

In [ ]:
z[5][1]

In [ ]:
z[3][1]

In [ ]:
z[5][0]

How to Re-asign element valaue

In [ ]:
y=[1,2,3]

In [ ]:
y[1]=10

In [ ]:
y

In [ ]:
y[0]=100
y

In [ ]:
y[2]='hello'
y

In [2]:
my_list = ['a','b','c']
my_list

['a', 'b', 'c']

In [198]:
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [199]:
my_list.append(['d',2,3,5])
my_list

['a', 'b', 'c', 'd', ['d', 2, 3, 5]]

In [ ]:
x=[1,2,3]

In [ ]:
my_list.append(x)
my_list

In [ ]:
l=[1,2,3]
l
l+[2,3,4]

l.append ((9,7))

l.append ({9,7})

l.append ([9,7])

l+[1,2]

extend(b) :- This function is used to extend the list with the elements present in another list. This function takes another list as its argument.

8. clear() :- This function is used to erase all the elements of list. After this operation, list becomes empty.

In [200]:
my_list.extend((8, 9, 10))
my_list

['a', 'b', 'c', 'd', ['d', 2, 3, 5], 8, 9, 10]

In [201]:
my_list.extend({8, 9, 10})
my_list

['a', 'b', 'c', 'd', ['d', 2, 3, 5], 8, 9, 10, 8, 9, 10]

In [202]:
##SET ELIMINATES DUPLICATES
my_list.extend({3,3})
my_list

['a', 'b', 'c', 'd', ['d', 2, 3, 5], 8, 9, 10, 8, 9, 10, 3]

In [203]:
my_list.extend([8, 9, 10])
my_list

['a', 'b', 'c', 'd', ['d', 2, 3, 5], 8, 9, 10, 8, 9, 10, 3, 8, 9, 10]

In [3]:
my_list+[9,8,7]

['a', 'b', 'c', 9, 8, 7]

In [51]:
# initializing list 1 
lis1 = [2, 1, 3, 5] 
  
# initializing list 1 
lis2 = [6, 4, 3] 
  
# using extend() to add elements of lis2 in lis1 
lis1.extend(lis2) 
  
# displaying list after sorting 
print ("List elements after extending are : ", end="") 
for i in range(0, len(lis1)): 
    print(lis1[i], end=" ") 
      
print ("\r")

List elements after extending are : 2 1 3 5 6 4 3

In [52]:
# using clear() to delete all lis1 contents 
lis1.clear() 
  
# displaying list after clearing 
print ("List elements after clearing are : ", end="") 
for i in range(0, len(lis1)): 
    print(lis1[i], end=" ")

List elements after clearing are :

In [4]:
my_list.insert(0, "new")
my_list

['new', 'a', 'b', 'c']

In [206]:
my_list.insert(2, "hi")
my_list

['a', 'b', 'hi', 'c', 'd', ['d', 2, 3, 5], 8, 9, 10, 8, 9, 10, 3, 8, 9, 10]

In [207]:
my_list.insert(2, ["hi","BYE"])
my_list

['a',
 'b',
 ['hi', 'BYE'],
 'hi',
 'c',
 'd',
 ['d', 2, 3, 5],
 8,
 9,
 10,
 8,
 9,
 10,
 3,
 8,
 9,
 10]

In [ ]:
my_list.insert(2,("hi","BYE"))
my_list

In [ ]:
my_list[0]

In [ ]:
my_list[1]

In [ ]:
my_list[1:]

In [ ]:
my_list[:4]

In [ ]:
# initializing list  
lis = [2, 1, 3, 5, 3, 8] 
  
# using insert() to insert 4 at 3rd pos 
lis.insert(3, 4) 
  
# displaying list after inserting 
print("List elements after inserting 4 are : ", end="") 
for i in range(0, len(lis)): 
    print(lis[i], end=" ") 
      
print("\r")

In [ ]:
# using remove() to remove first occurrence of 3 
# removes 3 at pos 2 
lis.remove(3) 
  
# displaying list after removing  
print ("List elements after removing are : ", end="") 
for i in range(0, len(lis)): 
    print(lis[i], end=" ")

#### my_list[0] = 'NEW'

In [ ]:
my_list

In [ ]:
my_list[-1]

In [ ]:
my_list=[1,2,3,4,5,6,78,67]

In [ ]:
my_list [0:3]

In [ ]:
my_list[-3:]  # slicing returns a new list

In [ ]:
my_list[:-3]

In [ ]:
my_list[:-3]

In [ ]:
a= [1, 2, 3, 4, 5, 6, 7, [10, 20, 30]]
a[7][1:]

In [54]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [55]:
squares[-1]

25

In [56]:
squares[0]  # indexing returns the item

1

In [57]:
squares[-1]

25

In [58]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [59]:
squares[:]

[1, 4, 9, 16, 25]

In [60]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
y=[]

In [62]:
y

[]

In [63]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [64]:
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [65]:
len(letters)

7

It is possible to nest lists (create lists containing other lists),

In [66]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [67]:
x[0]

['a', 'b', 'c']

In [68]:
x[0][1]

'b'

In [69]:
nest = [1,2,3,[4,5,['target']]]

In [70]:
nest[3]

[4, 5, ['target']]

In [71]:
nest[3][2]

['target']

In [72]:
nest[3][2][0]

'target'

In [208]:
# Creating a List 
List = ['G','O','D','I','S','G', 
        'R','E','A','T','E','K','S'] 
print("Initial List: ") 
print(List)

Initial List:
['G', 'O', 'D', 'I', 'S', 'G', 'R', 'E', 'A', 'T', 'E', 'K', 'S']

In [209]:
##############REVERSE LIST
# Printing elements in reverse 
# using Slice operation 
Sliced_List = List[::-1] 
print("\nPrinting List in reverse: ") 
print(Sliced_List)

Printing List in reverse:
['S', 'K', 'E', 'T', 'A', 'E', 'R', 'G', 'S', 'I', 'D', 'O', 'G']

#pop()
pop() is an inbuilt function in Python that removes and returns last value from the list or the given index value.

Syntax : list_name.pop(index)
index (optional) - The value at index is  popped out and removed.

If the index is not given, then the last element is popped out and removed.

Returns : The last value or the given index value from the list

            When index is out of range, it returns IndexError

In [75]:
list1 = [ 1, 2, 3, 4, 5, 6 ] 
 
list1

[1, 2, 3, 4, 5, 6]

In [76]:
list1.pop()

6

In [77]:
# Pops and removes the last element from the list 
print(list1.pop()) 
  
# Print list after removing last element 
print("New List after pop : ", list1, "\n")

5
New List after pop :  [1, 2, 3, 4]

In [78]:
# using pop() to delete element at pos 2 
# deletes 3 
list1.pop(2) 
list1

[1, 2, 4]

In [79]:
a= [1, 2, 3, 4, 5, 6, 7, [10, 20, 30]]
a.pop(3)
a

[1, 2, 3, 5, 6, 7, [10, 20, 30]]

In [80]:
# displaying list after popping   
print ("List elements after popping are : ", end="") 
for i in range(0, len(list1)): 
    print(list1[i], end=" ")

List elements after popping are : 1 2 4

In [81]:
list2 = [1, 2, 3, ('cat', 'bat'), 4] 
  
# Pop last three element 
print(list2.pop()) 
print(list2.pop()) 
print(list2.pop()) 
  
# Print list 
print("New List after pop : ", list2, "\n")

4
('cat', 'bat')
3
New List after pop :  [1, 2]

#Removing Elements from the List
Using remove() method

Elements can be removed from the List by using built-in remove() function but an Error arises if element doesn’t exist in the set. 
Remove() method only removes one element at a time, to remove range of elements, iterator is used. 
The remove() method removes the specified item.

Note – Remove method in List will only remove the first occurrence of the searched element.

In [82]:
# Creating a List 
List = [1, 2, 3, 4, 5, 6,  
        7, 8, 9, 10, 11, 12] 
print("Intial List: ") 
print(List)

Intial List:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [83]:
# Removing elements from List 
# using Remove(data (not Index)) method 
List.remove(5) 
List


#Remove first occurrence of value.

#Raises ValueError if the value is not present.
#Type:      builtin_function_or_method

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12]

In [84]:
List.remove(6) 
List

[1, 2, 3, 4, 7, 8, 9, 10, 11, 12]

In [85]:
# Removing elements from List 
# using iterator method 
for i in range(1, 5): 
    List.remove(i) 
print("\nList after Removing a range of elements: ") 
print(List)

List after Removing a range of elements:
[7, 8, 9, 10, 11, 12]

In [86]:
p= [10, 12, 13, 14, 15,10, 11, 12]

In [87]:
p.remove(12)
p

[10, 13, 14, 15, 10, 11, 12]

Index() is an inbuilt function in Python, which searches for given element from start of the list and returns the lowest index where the element appears.

Syntax :

list_name.index(element, start, end)
Parameters :

element - The element whose lowest index will be returned.

start (Optional) - The position from where the search begins.
end (Optional) - The position from where the search ends.
Returns :

Returns lowest index where the element appears.

In [88]:
 
# of list index() method 
  
list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5] 
  
# Will print the index of '4' in list1 
print(list1.index(4))

3

In [89]:
list2 = ['cat', 'bat', 'mat', 'cat', 'pet'] 
  
# Will print the index of 'cat' in list2  
print(list2.index('cat'))

0

In [90]:
list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5] 
  
# Will print index of '4' in sublist between having index from 4 to 8. 
print(list1.index(4, 4, 8))

7

In [91]:
# Will print index of '1' in sublist 
# having index from 1 to 7. 
print(list1.index(1, 1, 7))

4

In [92]:
list2 = ['cat', 'bat', 'mat', 'cat',  
         'get', 'cat', 'sat', 'pet'] 
  
# Will print index of 'cat' in sublist 
# having index from 2 to 6 
print(list2.index('cat', 2, 6 ))

3

In [93]:
myString = 'Position of a character'
myString.find('s')

2

In [94]:
myString.find('x')

-1

In [95]:
myString = ''
myString.index('s')

ValueError: substring not found

count() is an inbuilt function in Python that returns count of how many times a given object occurs in list.

Syntax : list_name.count(object) 
Parameters :

Object is the things whose count is to be returned. 
Returns :

count() method returns count of how many times obj occurs in list.

In [ ]:
 
# an object appears in a list using count() method  
  
list1 = [1, 1, 1, 2, 3, 2, 1]  
  
# Counts the number of times 1 appears in list1 
print(list1.count(1))

In [ ]:
list2 = ['a', 'a', 'a', 'b', 'b', 'a', 'c', 'b']  
  
# Counts the number of times 'b' appears in list2 
print(list2.count('b'))

In [ ]:
list3 = ['Cat', 'Bat', 'Sat', 'Cat', 'cat', 'Mat'] 
  
# Counts the number of times 'Cat' appears in list3 
print(list3.count('Cat'))

In [ ]:
# an object appears in a list using count() method  
  
list1 = [ ('Cat', 'Bat'), ('Sat', 'Cat'), ('Cat', 'Bat'), 
          ('Cat', 'Bat', 'Sat'), [1, 2], [1, 2, 3], [1, 2] ] 
  
# Counts the number of times 'Cat' appears in list1 
print(list1.count(('Cat', 'Bat')))

In [ ]:
# Count the number of times sublist 
# '[1, 2]' appears in list1 
print(list1.count([1, 2]))

sort() 
# This will sort the given list in ascending order.
# It returns a sorted list according to the passed parameter.
List_name.sort()

In [1]:
# List of Integers 
numbers = [1, 3, 4, 2] 
  
# Sorting list of Integers 
numbers.sort() 
  
print(numbers)

[1, 2, 3, 4]

In [7]:
numbers.sort(reverse=True)  
print(numbers)

[4, 3, 2, 1]

In [5]:
# List of Floating point numbers 
decimalnumber = [2.01, 2.00, 3.67, 3.28, 1.68] 
  
# Sorting list of Floating point numbers 
decimalnumber.sort(reverse=True) 
  
print(decimalnumber)

[3.67, 3.28, 2.01, 2.0, 1.68]

In [ ]:
decimalnumber.sort()

In [3]:
# List of strings 
words = ["God", "For", "ALL"] 
  
# Sorting list of strings 
words.sort() 
  
print(words)

['ALL', 'For', 'God']

In [9]:
string = ["ram", "shyam", "home"]
string.sort()
print(string)

['home', 'ram', 'shyam']

To sort the list in descending order.

Syntax

list_name.sort(reverse=True)
This will sort the given list in descending order.



Syntax :

list_name.sort() – it sorts in ascending order

list_name.sort(reverse=True) – it sorts in descending order

list_name.sort(key=…, reverse=…) – it sorts according to user’s choice

Parameters:
By default, sort() doesn’t require any extra parameters. However, it has two optional parameters:

reverse – If true, the list is sorted in descending order
key – function that serves as a key for the sort comparison

In [ ]:
# List of Integers 
numbers = [1, 3, 4, 2] 
  
# Sorting list of Integers 
numbers.sort(reverse=True) 
  
print(numbers)

In [ ]:
# List of Floating point numbers 
decimalnumber = [2.01, 2.00, 3.67, 3.28, 1.68] 
  
# Sorting list of Floating point numbers 
decimalnumber.sort(reverse=True) 
  
print(decimalnumber)

In [ ]:
# List of strings 
words = ["God", "Ram", "Great"] 
  
# Sorting list of strings 
words.sort(reverse=True) 
  
print(words)

In [ ]:
# function to return the second element of the 
# two elements passed as the parameter 
def sortSecond(val): 
    return val[1]  
  
# list1 to demonstrate the use of sorting  
# using using second key  
list1 = [(1,2),(3,3),(1,1)] 
  
# sorts the array in ascending according to  
# second element 
list1.sort(key=sortSecond)  
print(list1) 
  
# sorts the array in descending according to 
# second element 
list1.sort(key=sortSecond,reverse=True) 
print(list1)

################
DELETE
########################

In [10]:
# initializing list  
lis = [2, 1, 3, 5, 4, 3, 8] 
  
# using del to delete elements from pos. 2 to 5 
# deletes 3,5,4 
del lis[2 : 5]

In [ ]:
# displaying list after deleting  
print ("List elements after deleting are : ",end="") 
for i in range(0, len(lis)): 
    print(lis[i], end=" ") 
      
print("\r")

In [11]:
# sum() 
   
numbers = [1,2,3,4,5,1,4,5] 
  
# start parameter is not provided 
Sum = sum(numbers) 
print(Sum)

25

In [13]:
# start = 10 
Sum = sum(numbers, 10) 
print(Sum)

35

In [17]:
# start = 10 
Sum = sum({5}, 10)    # LIST /Dictionary are IterableNOT TUPLE
print(Sum)

15

In [18]:
# start = 10 
Sum = sum([5], 10)    # LIST /Dictionary are IterableNOT TUPLE
print(Sum)

15

In [ ]:
##############################################

# function that filters vowels 
def fun(variable): 
    letters = ['a', 'e', 'i', 'o', 'u'] 
    if (variable in letters): 
        return True
    else: 
        return False
  
  
# sequence 
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r'] 
  
# using filter function 
filtered = filter(fun, sequence) 
  
print('The filtered letters are:') 
for s in filtered: 
    print(s)

lambda()	This function can have any number of arguments but only one expression, which is evaluated and returned.

In [ ]:
# showing difference between def() and lambda(). 
def cube(y): 
    return y*y*y; 
  
g = lambda x: x*x*x 
print(g(7)) 
  
print(cube(5))

In [ ]:
# filter() with lambda() 
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0) , li)) 
print(final_list)

In [96]:
# a list contains both even and odd numbers.  
seq = [0, 1, 2, 3, 5, 8, 13] 
  
# result contains odd numbers of the list 
result = filter(lambda x: x % 2 != 0, seq) 
print(list(result)) 
  
# result contains even numbers of the list 
result = filter(lambda x: x % 2 == 0, seq) 
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

In [97]:
##Use of lambda() with map()

# map() with lambda()  
# to get double of a list. 
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(map(lambda x: x*2 , li)) 
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [98]:
# reduce() with lambda() 
# to get sum of a list 
from functools import reduce
li = [5, 8, 10, 20, 50, 100] 
sum = reduce((lambda x, y: x + y), li) 
print (sum)

193

### Dictionaries

In [99]:
d = {'key1':'item1','key2':'item2'}

In [100]:
d

{'key1': 'item1', 'key2': 'item2'}

In [101]:
d['key1']

'item1'

In [102]:
d['key1']="Bangalore"
d

{'key1': 'Bangalore', 'key2': 'item2'}

In [103]:
d['key1']='item5'

In [104]:
d

{'key1': 'item5', 'key2': 'item2'}

In [105]:
d.keys()

dict_keys(['key1', 'key2'])

In [106]:
del d['key1'] # remove entry with key 'Name'
d

{'key2': 'item2'}

In [107]:
d.clear();     # remove all entries in dict
del d ;        # delete entire dictionary

In [108]:
###More than one entry per key not allowed
dict = {'Name': 'Zara', 'Age': 7, 'Name': 'Manish'}
print("dict['Name']: ", dict['Name'])

dict['Name']:  Manish

In [5]:
y= [1,1,1]


z={1,1,1}

p= {"name":"Manish","Add":"Blr","name":"Pallavi"}
y
z
p

{'name': 'Pallavi', 'Add': 'Blr'}

In [6]:
##How To ADD a New Entry in Dictionary

p['Home'] = "DPS Bangalore"; # Add new entry
p

{'name': 'Pallavi', 'Add': 'Blr', 'Home': 'DPS Bangalore'}

In [ ]:
z={1:"manish"}
z

In [ ]:
e = {'key1':'item1','key2':{'key22':'value22'}}

In [ ]:

# Creating a Nested Dictionary  
# as shown in the below image 
Dict = {1: 'manish', 2: 'For',  
        3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'manish'}} 
  
print(Dict)

In [ ]:
#################Adding elements to a Dictionary

In [7]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict)

Empty Dictionary:
{}

In [8]:
# Adding elements one at a time 
Dict[0] = 'Manish'
Dict[2] = 'For DS'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ") 
print(Dict)

Dictionary after adding 3 elements:
{0: 'Manish', 2: 'For DS', 3: 1}

In [ ]:
# Adding set of values  
# to a single Key 
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ") 
print(Dict)

In [ ]:
# Updating existing Key's Value 
Dict[2] = 'Welcome'
print("\nUpdated key value: ") 
print(Dict)

In [ ]:
# Adding Nested Key value to Dictionary 
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'is Good'}} 
print("\nAdding a Nested Key: ") 
print(Dict)

In [ ]:
#$$$$$$$$$$$$$$$$$$$$$Accessing elements from a Dictionary
##################################################################################3###

In [ ]:
# Creating a Dictionary  
Dict = {1: 'manish', 'name': 'For', 3: 'manish'} 
  
# accessing a element using key 
print("Accessing a element using key:") 
print(Dict['name']) 
  
# accessing a element using key 
print("Accessing a element using key:") 
print(Dict[1])

In [ ]:
###There is also a method called get() that will also help in acessing the element from a dictionary.

# Creating a Dictionary  
Dict = {1: 'manish', 'name': 'For', 3: 'manish'} 
  
# accessing a element using get() 
# method 
print("Accessing a element using get:") 
print(Dict.get(3))

In [ ]:
######################################
###Accessing element of a nested dictionary
###In order to access the value of any key in nested dictionary, use indexing [] syntax.

In [111]:
# Creating a Dictionary 
Dict = {'Dict1': {1: 'manish'}, 
        'Dict2': {'Name': 'For'}} 
  
# Accessing element using key 
print(Dict['Dict1']) 
print(Dict['Dict1'][1]) 
print(Dict['Dict2']['Name'])

{1: 'manish'}
manish
For

Removing Elements from Dictionary
Using del keyword
In Python Dictionary, deletion of keys can be done by using the del keyword. Using del keyword, specific values from a dictionary as well as whole dictionary can be deleted. Items in a Nested dictionary can also be deleted by using del keyword and providing specific nested key and particular key to be deleted from that nested Dictionary.

Note- del Dict will delete the entire dictionary and hence printing it after deletion will raise an Error.

In [112]:
# Initial Dictionary 
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'manish', 
        'A' : {1 : 'manish', 2 : 'For', 3 : 'manish'}, 
        'B' : {1 : 'manish', 2 : 'Life'}} 
print("Initial Dictionary: ") 
print(Dict)

Initial Dictionary:
{5: 'Welcome', 6: 'To', 7: 'manish', 'A': {1: 'manish', 2: 'For', 3: 'manish'}, 'B': {1: 'manish', 2: 'Life'}}

In [113]:
# Deleting a Key value 
del Dict[6] 
print("\nDeleting a specific key: ") 
print(Dict)

Deleting a specific key:
{5: 'Welcome', 7: 'manish', 'A': {1: 'manish', 2: 'For', 3: 'manish'}, 'B': {1: 'manish', 2: 'Life'}}

In [114]:
# Deleting a Key from 
# Nested Dictionary 
del Dict['A'][2] 
print("\nDeleting a key from Nested Dictionary: ") 
print(Dict)

Deleting a key from Nested Dictionary:
{5: 'Welcome', 7: 'manish', 'A': {1: 'manish', 3: 'manish'}, 'B': {1: 'manish', 2: 'Life'}}

Using pop() method
Pop() method is used to return and delete the value of the key specified.

In [115]:
# Creating a Dictionary 
Dict = {1: 'manish', 'name': 'For', 3: 'manish'} 
  
# Deleting a key  
# using pop() method 
pop_ele = Dict.pop(1) 
print('\nDictionary after deletion: ' + str(Dict)) 
print('Value associated to poped key is: ' + str(pop_ele))

Dictionary after deletion: {'name': 'For', 3: 'manish'}
Value associated to poped key is: manish

############################Using popitem() method
##############The popitem() returns and removes an arbitrary element (key, value) pair from the dictionary.

In [116]:
# Deleting an arbitrary key 
# using popitem() function 
pop_ele = Dict.popitem() 
print("\nDictionary after deletion: " + str(Dict)) 
print("The arbitrary pair returned is: " + str(pop_ele))

Dictionary after deletion: {'name': 'For'}
The arbitrary pair returned is: (3, 'manish')

##########################################################
Using clear() method
All the items from a dictionary can be deleted at once by using clear() method.

In [117]:
# Deleting entire Dictionary 
Dict.clear() 
print("\nDeleting Entire Dictionary: ") 
print(Dict)

Deleting Entire Dictionary:
{}

### Booleans

In [118]:
True

True

In [119]:
False

False

### Tuples

Tuples in Python
A tuple is a sequence of immutable Python objects. Tuples are just like lists with the exception that tuples cannot be changed once declared. Tuples are usually faster than lists.

In [5]:
t = (1,2,2,3,3,3,3)
t

(1, 2, 2, 3, 3, 3, 3)

In [ ]:
t.

In [6]:
t.count(3)

4

In [8]:
t.index(2)

1

In [10]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [9]:
t(0)

TypeError: 'tuple' object is not callable

In [11]:
t[0]

1

In [12]:
t[2]

2

In [ ]:
tup = (1, "a", "string", 1+2) 
print (tup) 
print(tup[1] )

In [ ]:
#Iterations in Python
#Iterations or looping can be performed in python by ‘for’ and ‘while’ loops. Apart from iterating upon a particular condition, we can also iterate on strings, lists, and tuples.

i = 1
while (i < 10): 
    i += 1
    print(i);

In [ ]:
s = "Hello World"
for i in s : 
    print(i)

In [ ]:
#Iteration by for loop on list
L = [1, 4, 5, 7, 8, 9] 
for  i in L: 
    print (i);

In [ ]:
#Iteration by for loop for range
for  i in range(0, 10): 
    print (i);

### Sets

Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. The order of elements in a set is undefined though it may consist of various elements.

The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

In [122]:
{1,2,3}

{1, 2, 3}

In [123]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [124]:
A={1,2,3}

In [125]:
A(0)    
# Fixed, Can't Call & assign a Value

TypeError: 'set' object is not callable

In [ ]:
# Creating a Set 
set1 = set() 
print("Intial blank Set: ") 
print(set1) 
  
# Creating a Set with  
# the use of a String 
set1 = set("manish4hadoop@gmail.com") 
print("\nSet with the use of String: ") 
print(set1) 
  
# Creating a Set with 
# the use of Constructor 
# (Using object to Store String) 
String = 'manish4hadoop@gmail.com'
set1 = set(String) 
print("\nSet with the use of an Object: " ) 
print(set1) 
  
# Creating a Set with 
# the use of a List 
set1 = set(["manish", "For", "manish"]) 
print("\nSet with the use of List: ") 
print(set1)

In [ ]:
# Creating a Set with  
# a List of Numbers 
# (Having duplicate values) 
set1 = set([1, 2, 4, 4, 3, 3, 3, 6, 5]) 
print("\nSet with the use of Numbers: ") 
print(set1)

In [13]:
# Creating a Set with  
# a mixed type of values 
# (Having numbers and strings) 
set1 = set([1, 2, 'GO', 4, 'For', 6, 'Manish']) 
print("\nSet with the use of Mixed Values") 
print(set1)

Set with the use of Mixed Values
{'Manish', 1, 2, 4, 6, 'GO', 'For'}

In [19]:
###############################Adding Elements to a Set
# Creating a Set 
set1 = set() 
print("Intial blank Set: ") 
print(set1) 
  
# Adding element and tuple to the Set 
set1.add(8) 
set1.add(9) 
set1.add((6,7)) 
print("\nSet after Addition of Three elements: ") 
print(set1)

Intial blank Set:
set()

Set after Addition of Three elements:
{8, 9, (6, 7)}

In [20]:
# Adding elements to the Set 
# using Iterator 
for i in range(1, 6): 
    set1.add(i) 
print("\nSet after Addition of elements from 1-5: ") 
print(set1)

Set after Addition of elements from 1-5:
{1, 2, 3, (6, 7), 4, 5, 8, 9}

Using update() method
For addition of two or more elements Update() method is used. The update() method accepts lists, strings, tuples as well as other sets as its arguments. In all of these cases, duplicate elements are avoided.

In [129]:
# Addition of elements to the Set 
# using Update function 
set1 = set([ 4, 5, (6, 7)]) 
set1.update([10, 11]) 
print("\nSet after Addition of elements using Update: ") 
print(set1)

Set after Addition of elements using Update:
{4, 5, (6, 7), 10, 11}

In [130]:
##########################Accessing a Set

# Creating a set 
set1 = set(["manish", "For", "manish"]) 
print("\nInitial set") 
print(set1) 
  
# Accessing element using 
# for loop 
print("\nElements of set: ") 
for i in set1: 
    print(i, end=" ") 
  
# Checking the element 
# using in keyword 
print("manish" in set1)

Initial set
{'manish', 'For'}

Elements of set:
manish For True

Removing elements from the Set
Using remove() method or discard() method
Elements can be removed from the Set by using built-in remove() function but a KeyError arises if element doesn’t exist in the set. To remove elements from a set without KeyError, use discard(), if the element doesn’t exist in the set, it remains unchanged.

In [131]:
# Creating a Set 
set1 = set([1, 2, 3, 4, 5, 6,  
            7, 8, 9, 10, 11, 12]) 
print("Intial Set: ") 
print(set1) 
  
# Removing elements from Set 
# using Remove() method 
set1.remove(5) 
set1.remove(6) 
print("\nSet after Removal of two elements: ") 
print(set1)

Intial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

Set after Removal of two elements:
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

In [132]:
# Removing elements from Set 
# using Discard() method 
set1.discard(8) 
set1.discard(9) 
print("\nSet after Discarding two elements: ") 
print(set1)

Set after Discarding two elements:
{1, 2, 3, 4, 7, 10, 11, 12}

In [133]:
# Removing elements from Set 
# using iterator method 
for i in range(1, 5): 
    set1.remove(i) 
print("\nSet after Removing a range of elements: ") 
print(set1)

Set after Removing a range of elements:
{7, 10, 11, 12}

Using pop() method
Pop() function can also be used to remove and return an element from the set, but it removes only the last element of the set.

Note – If the set is unordered then there’s no such way to determine which element is popped by using the pop() function.

In [134]:
# Creating a Set 
set1 = set([1, 2, 3, 4, 5, 6,  
            7, 8, 9, 10, 11, 12]) 
print("Intial Set: ") 
print(set1)

Intial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [135]:
# Removing element from the  
# Set using the pop() method 
set1.pop() 
print("\nSet after popping an element: ") 
print(set1)

Set after popping an element:
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

Using clear() method
To remove all the elements from the set, clear() function is used.

In [136]:
#Creating a set 
set1 = set([1,2,3,4,5]) 
print("\n Initial set: ") 
print(set1)

 Initial set:
{1, 2, 3, 4, 5}

In [137]:
# Removing all the elements from  
# Set using clear() method 
set1.clear() 
print("\nSet after clearing all the elements: ") 
print(set1)

Set after clearing all the elements:
set()

12###################################################################################
Frozen sets in Python are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.
If no parameters are passed, it returns an empty frozenset.

In [138]:
# Creating a Set 
String = ('M', 'a', 'n', 's', 'F', 'o', 'r') 
  
Fset1 = frozenset(String) 
print("The FrozenSet is: ") 
print(Fset1)

The FrozenSet is:
frozenset({'M', 'a', 's', 'o', 'n', 'r', 'F'})

In [139]:
# To print Empty Frozen Set 
# No parameter is passed 
print("\nEmpty FrozenSet: ") 
print(frozenset())

Empty FrozenSet:
frozenset()

The set add() method adds a given element to a set if the element is not present in the set.

Syntax:

set.add(elem)
The add() method doesn't add an element to the
set if it's already present in it otherwise it 
will get added to the set.
Parameters:
add() takes single parameter(elem) which needs to 
be added in the set.
Returns:
The add() method doesn't return any value.

In [140]:
# set of letters 
manish = {'g', 'o', 'd'} 
  
# adding 's' 
manish.add('s') 
print('Letters are:', manish) 
  
# adding 's' again 
manish.add('s') 
print('Letters are:', manish)

Letters are: {'g', 's', 'o', 'd'}
Letters are: {'g', 's', 'o', 'd'}

In [141]:
# set of letters 
manish = {6, 0, 4} 
  
# adding 1 
manish.add(1) 
print('Letters are:', manish) 
  
# adding 0  
manish.add(0) 
print('Letters are:', manish)

Letters are: {0, 1, 4, 6}
Letters are: {0, 1, 4, 6}

In [17]:
# Python code to demonstrate addition of tuple to a set. 
s = {'B', 'e', 'e', 'k', 's'} 
t = ('O', 'o') 
  
# adding tuple t to set s. 
s.add(t) 
  
print(s)

{'k', ('O', 'o'), 's', 'B', 'e'}

In [143]:
# Function to remove elements using discard() 
def Remove(sets): 
    sets.discard(20) 
    print (sets) 
      
# Driver Code 
sets = set([10, 20, 26, 41, 54, 20]) 
Remove(sets)

{41, 10, 54, 26}

In [144]:
# Function to remove elements using discard() 
def Remove(sets): 
    sets.discard(21) 
    print (sets) 
      
# Driver Code 
sets = set([10, 20, 26, 41, 54, 20]) 
Remove(sets)

{41, 10, 20, 54, 26}

In [145]:
# Function to remove elements using remove() 
def Remove(sets): 
    sets.remove("aakash") 
    print (sets) 
      
# Driver Code 
sets = set(["ram", "aakash", "kaushik", "anand", "prashant"]) 
Remove(sets)

{'prashant', 'kaushik', 'ram', 'anand'}

In [146]:
#If the element is not present in the set:
# Function to remove elements using remove() 
def Remove(sets): 
    sets.remove("gaurav") 
    print (sets) 
      
# Driver Code 
sets = set(["ram", "aakash", "kaushik", "anand", "prashant"]) 
Remove(sets)

KeyError: 'gaurav'

The clear() method removes all elements from the set.

Syntax:

set.clear()
parameters:
The clear() method doesn't take any parameters.
Return:
The clear() method doesn't return any value.

In [18]:
# set of letters 
man = {'f', 'o', 'f', '4', 's'} 
print('Word before clear:', man) 
  
# clearing vowels 
man.clear() 
print(' after clear:', man)

Word before clear: {'4', 'f', 'o', 's'}
 after clear: set()

In [ ]:
# set of letters 
manish = {6, 0, 4, 1} 
print('manish before clear:', manish) 
  
# clearing vowels 
manish.clear() 
print('manish after clear:', manish)

In [147]:
# Python3 program to demonstrate the use 
# of join() function  
  
set1 = {1, 2, 3, 4}  
  
# function to copy the set 
set2 = set1.copy()  
  
# prints the copied set 
print(set2)

{1, 2, 3, 4}

In [148]:
#Shallow Copy Example :

In [149]:
# created using set copy is shallow 
first = {'g', 'o', 'd', 'r', 'm'} 
second = first.copy() 
  
# before adding 
print ('before adding: ')
print ('first: ',first )
print ('second: ', second ) 
  
# Adding element to second, first does not 
# change. 
second.add('f') 
  
# after adding 
print ('after adding: ')
print ('first: ', first )
print ('second: ', second)

before adding:
first:  {'g', 'r', 'm', 'o', 'd'}
second:  {'g', 'r', 'm', 'o', 'd'}
after adding:
first:  {'g', 'r', 'm', 'o', 'd'}
second:  {'g', 'r', 'm', 'o', 'f', 'd'}

 pop()
This in-built function of Python helps to pop out elements from a set just like the principal used in the concept while implementing Stack. This method removes a random element from the set and returns the removed element. Unlike, a stack a random element is popped off the set.

Syntax:

# Pops a random element from S
# and returns it.
S.pop()

In [150]:
# Python code to illustrate pop() method 
  
S = {"ram", "rahim", "ajay", "rishav", "aakash"} 
  
# Popping three elements and printing them 
print(S.pop()) 
print(S.pop()) 
print(S.pop()) 
  
# The updated set 
print("Updated set is", S)

aakash
rahim
ajay
Updated set is {'ram', 'rishav'}

In [151]:
# on an empty set 
S = {} 
  
# Popping three elements and printing them 
print(S.pop()) 
  
# The updated set 
print("Updated set is", S)

TypeError: pop expected at least 1 arguments, got 0

update() function in set adds elements from a set (passed as an argument) to the set.

Syntax :
set1.update(set2)
Here set1 is the set in which set2 will be added.

Parameters :
Update() method takes only a single argument. The single argument can be a set, list, tuples or a dictionary. It automatically converts into a set and adds to the set.

Return value : This method adds set2 to set1 and returns nothing.

In [152]:
# use of update() method  
  
  
list1 = [1, 2, 3]  
list2 = [5, 6, 7]  
list3 = [10, 11, 12] 
  
# Lists converted to sets  
set1 = set(list2)  
set2 = set(list1) 
  
# Update method  
set1.update(set2) 
   
# Print the updated set  
print(set1)  
  
  
# List is passed as an parameter which  
# gets automatically converted to a set  
set1.update(list3)  
print(set1)

{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7, 10, 11, 12}

In [153]:
# use of update() method  
  
list1 = [1, 2, 3, 4]  
list2 = [1, 4, 2, 3, 5]  
alphabet_set = {'a', 'b', 'c'} 
  
# lists converted to sets  
set1 = set(list2)  
set2 = set(list1) 
  
# Update method  
set1.update(set2)  
  
# Print the updated set  
print(set1)  
  
set1.update(alphabet_set) 
print(set1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'a', 'b', 'c'}

In [154]:
##############################################
# Python3 program for union() function 
  
set1 = {2, 4, 5, 6}  
set2 = {4, 6, 7, 8}  
set3 = {7, 8, 9, 10} 
  
# union of two sets 
print("set1 U set2 : ", set1.union(set2)) 
  
# union of three sets 
print("set1 U set2 U set3 :", set1.union(set2, set3))

set1 U set2 :  {2, 4, 5, 6, 7, 8}
set1 U set2 U set3 : {2, 4, 5, 6, 7, 8, 9, 10}

In [155]:
########Difference
# Driver Code 
A = {10, 20, 30, 40, 80} 
B = {100, 30, 80, 40, 60} 
print (A.difference(B)) 
print (B.difference(A))

{10, 20}
{100, 60}

In [156]:
# Driver Code 
A = {10, 20, 30, 40, 80} 
B = {100, 30, 80, 40, 60} 
print (A - B) 
print (B - A)

{10, 20}
{100, 60}

In [157]:
# Driver Code 
A = {10, 20, 30, 40, 80} 
B = {10, 20, 30, 40, 80, 100} 
print (A - B)

set()

difference_update()
If A and B are two sets. The set difference() method will get the (A – B) and will return a new set. The set difference_update() method modifies the existing set. If (A – B) is performed, then A gets modified into (A – B), and if (B – A) is performed, then B gets modfied into (B – A).

Syntax:

A.difference_update(B) for (A - B)
B.difference_update(A) for (B - A)

In [158]:
# Driver Code 
A = {10, 20, 30, 40, 80} 
B = {100, 30, 80, 40, 60} 
  
# Modifies A and returns None 
A.difference_update(B) 
  
# Prints the modified set 
print (A)

{10, 20}

####remove() and discard() in Sets
The built-in method, discard() in Python, removes the element from the set only if the element is present in the set. If the element is not present in the set, then no error or exception is raised and the original set is printed.
If the element is present in the set:

In [159]:
# Function to remove elements using discard() 
def Remove(sets): 
    sets.discard(20) 
    print (sets) 
      
# Driver Code 
sets = set([10, 20, 26, 41, 54, 20]) 
Remove(sets)

{41, 10, 54, 26}

In [160]:
# Function to remove elements using discard() 
def Remove(sets): 
    sets.discard(21) 
    print (sets) 
      
# Driver Code 
sets = set([10, 20, 26, 41, 54, 20]) 
Remove(sets)

{41, 10, 20, 54, 26}

Method 2: Use of remove() method

The built-in method, remove() in Python, removes the element from the set only if the element is present in the set, just as the discard() method does but If the element is not present in the set, then an error or exception is raised.
If the element is present in the set:

In [161]:
# Function to remove elements using remove() 
def Remove(sets): 
    sets.remove("aakash") 
    print (sets) 
      
# Driver Code 
sets = set(["ram", "aakash", "kaushik", "anand", "prashant"]) 
Remove(sets)

{'prashant', 'kaushik', 'ram', 'anand'}

In [162]:
# Function to remove elements using remove() 
def Remove(sets): 
    sets.remove("gaurav") 
    print (sets) 
      
# Driver Code 
sets = set(["ram", "aakash", "kaushik", "anand", "prashant"]) 
Remove(sets)

KeyError: 'gaurav'

In [ ]:
# Python3 program for intersection() function 
  
set1 = {2, 4, 5, 6}  
set2 = {4, 6, 7, 8}  
set3 = {4,6,8} 
  
# union of two sets 
print("set1 intersection set2 : ", set1.intersection(set2)) 
  
# union of three sets 
print("set1 intersection set2 intersection set3 :", set1.intersection(set2,set3))

#######isdisjoint() function in Python
Two sets are said to be disjoint when their intersection is null. In simple words they do not have any common element in between them.
returns Trueif the two sets are disjoint.
returns Falseif the twos sets are not disjoint.

In [ ]:
# Python3 program for isdisjoint() function 
  
set1 = {2, 4, 5, 6}  
set2 = {7, 8, 9, 10} 
set3 = {1, 2} 
  
  
#checking of disjoint of two sets 
print("set1 and set2 are disjoint?", set1.isdisjoint(set2)) 
  
print("set1 and set3 are disjoint?", set1.isdisjoint(set3))

In [163]:
# Python3 program for isdisjoint() function 
  
set1 = {2, 4, 5, 6}  
set2 = {7, 8, 9, 10} 
set3 = {1, 2} 
  
  
#checking of disjoint of two sets 
print("set1 and set2 are disjoint?", set1.isdisjoint(set2)) 
  
print("set1 and set3 are disjoint?", set1.isdisjoint(set3))

set1 and set2 are disjoint? True
set1 and set3 are disjoint? False

In [164]:
######issubset() in python

In [165]:
# issubset(). 
  
A = {4, 1, 3, 5} 
B = {6, 0, 4, 1, 5, 0, 3, 5} 
  
# Returns True 
print(A.issubset(B)) 
  
# Returns False 
# B is not subset of A 
print(B.issubset(A))

True
False

In [166]:
# of issubset(). 
A = {1, 2, 3} 
B = {1, 2, 3, 4, 5} 
C = {1, 2, 4, 5} 
  
# Returns True 
print(A.issubset(B)) 
  
# Returns False 
# B is not subset of A 
print(B.issubset(A)) 
  
# Returns False 
print(A.issubset(C)) 
  
# Returns True 
print(C.issubset(B))

True
False
False
True

issuperset() 
A.issuperset(B)
checks whether A is a superset of B or not.
Returns:

True if A is a superset of B; otherwise false.

In [167]:
# issuperset(). 
  
A = {4, 1, 3, 5} 
B = {6, 0, 4, 1, 5, 0, 3, 5} 
  
print("A.issuperset(B) : ", A.issuperset(B)) 
  
# B is superset of A 
print("B.issuperset(A) : ", B.issuperset(A))

A.issuperset(B) :  False
B.issuperset(A) :  True

In [168]:
# of issuperset(). 
  
A = {1, 2, 3} 
B = {1, 2, 3, 4, 5} 
C = {1, 2, 4, 5} 
  
print("A.issuperset(B) : ", A.issuperset(B)) 
  
print("B.issuperset(A) : ", B.issuperset(A)) 
  
print("A.issuperset(C) : ", A.issuperset(C)) 
  
print("C.issuperset(B) : ", C.issuperset(B))

A.issuperset(B) :  False
B.issuperset(A) :  True
A.issuperset(C) :  False
C.issuperset(B) :  False

In [169]:
########symmetric_difference()

In [170]:
# Use of symmetric_difference() method 
  
set_A = {1, 2, 3, 4, 5} 
set_B = {6, 7, 3, 9, 4} 
print(set_A.symmetric_difference(set_B))

{1, 2, 5, 6, 7, 9}

In [171]:
# Driver Code 
set_A = {"ram", "rahim", "ajay", "rishav", "aakash"} 
set_B = {"aakash", "ajay", "shyam", "ram", "ravi"} 
print(set_A ^ set_B)

{'ravi', 'rahim', 'shyam', 'rishav'}

In [172]:
# One more example Python code to find  
# the symmetric_difference use of  
# symmetric_difference() method 
  
A = {'p', 'a', 'w', 'a', 'n'} 
B = {'r', 'a', 'o', 'n', 'e'} 
C = {} 
  
print(A.symmetric_difference(B)) 
print(B.symmetric_difference(A)) 
  
print(A.symmetric_difference(C)) 
print(B.symmetric_difference(C))

{'e', 'p', 'w', 'r', 'o'}
{'e', 'r', 'p', 'w', 'o'}
{'w', 'n', 'a', 'p'}
{'e', 'a', 'n', 'r', 'o'}

## functions

## lambda expressions

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

In [ ]:
lambda var: var*2

## map and filter

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
map(times2,seq)

In [ ]:
list(map(times2,seq))

In [ ]:
list(map(lambda var: var*4,seq))

In [ ]:
filter(lambda item: item%2 == 0,seq)

In [ ]:
list(filter(lambda item: item%2 == 0,seq))

## methods

In [ ]:
st = 'hello hi how are you'

In [ ]:
st.isnumeric()

In [ ]:
st.upper()

In [ ]:
y=st.split()

In [ ]:
y[0]

In [ ]:
st.split('h')

In [ ]:
tweet = 'Go Sports! #Sports #hi #hi #go #Banga # hiiii'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[6]

In [ ]:
d

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']

In [ ]:
def reverse(s): 
    if len(s) == 0: 
        return s 
    else: 
        return reverse(s[1:]) + s[0] 
  
s = "Manish"
  
print ("The original string  is : ",end="") 
print (s) 
  
print ("The reversed string(using recursion) is : ",end="") 
print (reverse(s))

# Great Job!